:root {
/*Dark Theme*/
--Very_Light_Gray: #E3E4F1;
--Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
--Light_Grayish_Blue: hsl(233, 11%, 84%);
--Dark_Grayish_Blue: hsl(236, 9%, 61%);
--Very_Dark_Grayish_Blue: hsl(235, 19%, 35%);
--Pure-white: #25273D;
--Border-todo: #393A4B;
--Dark-Text-color: #5B5E7E;
--rainbow-color: linear-gradient(90deg, rgba(85,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

body {
    font-size: 1.125rem;
    background-image: url('../img/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    place-content: center ;
   font-family: 'Josefin Sans', sans-serif;
    background-size: contain;
    background-color: var(--Pure-white);
}

.container {
    display: grid;
    justify-content: center;
    margin-top: 3rem;
}

label {
    display:block;
    color: var(--Dark_Grayish_Blue);
    border-bottom: 1px solid var(--Border-todo);
    padding:1rem 0;
    position: relative;
    cursor: pointer;
}

label input {
    width: 1.5rem;
    margin: 1px 12px 0 0;
}
label [type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    color: rgba(30, 144, 255, 0);
    vertical-align: middle;
    -webkit-appearance: none;
    flex-grow: 0;
    border-radius: 50%;
    cursor: pointer;
}

label [type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
    cursor:pointer;
}

label img {
    position: absolute;
    right: 7px;
}

.complete {
text-decoration: line-through;
}

label [type=checkbox]:checked {
    background: url(../img/icon-check.svg), var(--rainbow-color);
    background-position: center;
    background-size: contain;
}


[type=checkbox]:checked + label {
    text-decoration: line-through;
}

section {
    border-radius: 0.3125rem;
    background-color: var(--Pure-white);
    box-shadow: 0 4px 8px 0 rgb(70 96 187 / 0%), 0 6px 20px 0 rgb(70 96 187 / 31%);
    box-sizing: border-box;
    padding: .85rem 1rem 1rem 1rem;
}

.plus-symbol {
    transform: rotate(45deg);
    height:1.35rem;
    width:1.35rem;
    margin-top: 0.0625rem;
    cursor:pointer;
}

input {
    font-size: 1.125rem;
    font-family: 'Josefin Sans', sans-serif;
    border:none;
    margin-top: 0.375rem;
    width: 27.125rem;
    color: var(--Dark_Grayish_Blue);
    background-color: var(--Pure-white);
    margin-right: 61px;
}

.upper {
    display:flex;
    height:3.375rem;
    margin-bottom: 1.25rem;
    justify-content: space-between;
    background-color: var(--Pure-white);
}

.lower {
    min-height:12.4375rem;
}

header h1 {
    font-size: 2.5rem;
    color: white;
    letter-spacing: .5rem;
}

.sub-1,.sub-2,.sub-3 {
    color:var(--Dark-Text-color);
    cursor: pointer;
    font-size: 0.875rem
}

.clear-completed:hover,.filter-all:hover,.filter-active:hover,.filter-completed:hover{
    color:#2206F4FF;
}

.sub-2 {
    display:flex;
    justify-content: space-between;
    gap: 1.125rem;
}

.circle {
    border:1px solid var(--Dark_Grayish_Blue);
    height:1.5625rem;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:1.5625rem;
    margin: 12px;
}

nav{
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

footer {
    font-size: 0.875rem;
    color: var(--Dark-Text-color);
    margin: 2rem auto;
}

nav img {
    cursor: pointer;
}



